[Desktop Entry]
Type=Application
Name=LC300A session sound
Exec=/usr/libexec/lc300a/session-sound
OnlyShowIn=KDE;
X-KDE-autostart-phase=2
X-KDE-StartupNotify=false
